* {
    block-size: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    user-select: none;

    /* Background Styling */
    background-image: url(''); /* First Image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 1.5s;
    backdrop-filter: blur(5px);
}

.clock {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: 8px solid rgb(105, 109, 113);
    margin: 0 auto;
    position: relative;
}

.crown {
    position: absolute;
    width: 12px;
    height: 30px;
    background-color: rgb(105, 109, 113);
    border-right:2px solid rgb(80, 80, 80);
    top: 45%;
    right: -5%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.date {
    position: absolute;
    width: 40px;
    height: 25px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(226, 227, 227));
    border-left:2px solid rgb(80, 80, 80);
    border-top:2px solid rgb(164, 164, 164);
    border-bottom:2px solid rgb(52, 52, 52);
    border-right:2px solid rgb(199, 199, 199);
    top: 45.5%;
    right: 15%;
}
.date > p {
    font-size: 1.4rem;
    color: rgba(125, 125, 125);
    margin: -5px 0 0px 10px;
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
    padding-top: 5px;
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    /* border: 2px solid rgb(255, 255, 255); */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second {
    width: 2px;
    height: 45%;
    background-color: red;
}

.clock .hand.minute {
    width: 3px;
    height: 40%;
    background-color: black;
}

.clock .hand.hour {
    width: 6px;
    height: 35%;
    background-color: black;
}

.bi-gear-wide {
    color: rgba(0, 0, 0, 0.3);
    width: 160px;
    height: 160px;
    position: absolute;
    top: -30px;
    left: 0px;
    z-index: -2;
}

.bi-gear-wide-connected{
    color: rgba(0, 0, 0, 0.14);
    width: 260px;
    height: 260px;
    position: absolute;
    top: -30px;
    right: -60px;
    z-index: -2;
}

.name{
    color: rgb(223, 223, 223);
    text-shadow: 1px 1px 0 rgb(73, 73, 73);
    position: absolute;
    top: 20%;
    right: 30%;
    font-size: 0.8rem;
    z-index: 1;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate-animation {
    animation: rotation 80s linear infinite;
  }
  .rotate-animation-fast {
    animation: rotation 20s linear infinite;
  }

  /*~ Phone variant <-----------------------------------------------------------------------*/
  @media (max-width: 600px) {
    .clock {
        width: 250px;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        border: 8px solid rgb(105, 109, 113);
        margin: 0 auto;
        position: relative;
    }
    .clock .number {
        font-size: 1.2rem;
    }

    .bi-gear-wide {
        width: 120px;
        height: 120px;
    }
    
    .bi-gear-wide-connected{
        width: 200px;
        height: 200px;
    }

    .name{
        font-size: 0.6rem;
        right: 32%;
    }
}